* {
  box-sizing: border-box;
}

html {
  background: #1c1c1c;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-template-columns: auto 1280px auto;
  grid-template-rows: 162px auto 95px;
  min-width: 1440px;
  height: 100vh;
}

header {
  grid-area: header;
  align-self: center;
  text-align: center;
}

main {
  grid-area: main;
}

footer {
  margin-top: 30px;
  grid-area: footer;
  text-align: center;
}

.footer__heading {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}

movie-card {
  width: 302px;
  height: 454px;
}
