.search__form {
  position: sticky;
  z-index: 1;
  top: -1px;
  display: grid;
  justify-content: center;
}

.search__input {
  margin: auto;
  border: none;
  height: 74px;
  width: 1280px;
  padding: 18px 10px 20px 60px;
  border-bottom: 2px solid #fff;
  background-color: #1c1c1ce3;
  border-radius: 2px;
  outline: none;
  caret-color: #ffffff;
  color: #ffffff;

  font-size: 1.5rem;
  font-weight: 300;

  transition: 0.5s ease-in-out;
}

.search__input:focus {
  border-bottom: 2px solid #fdce25;
}

.search__input::placeholder {
  line-height: 36px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: url('../images/close.svg');
  cursor: pointer;
}

.search__input::-webkit-search-cancel-button:hover {
  content: url('../images/close-hover.svg');
}

.search__img {
  position: relative;
  top: -55px;
  left: 8px;
  content: url('../images/search.svg');
  transition: 0.5s ease-in-out;
}

.search__input:focus ~ .search__tags {
  display: inline;
}

.search__tags {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 88px;
  margin-top: 24px;
  overflow: hidden;
}

.search__tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 6px 16px;
  margin-top: 8px;
  margin-right: 3px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.search__tag:hover {
  background-color: #ffffff;
}
